/* These styles are just to make it easier to see the blocks, initially. */

body { padding: 2em; }

a { color: rgb(62, 47, 47); }
em { font-style: italic; }
strong { font-weight: bold; }

body,
section,
ul,
figure {
	display: grid;
	gap: 1em;
}
h1{
	color: rgb(62, 47, 47);
	font-size: 20px;
	font-weight: bold;
	font-family: 'Abhaya Libre', serif;
}
.channel-title{
	border-bottom:solid 1.5px rgb(62, 47, 47);
	
}
.avatar{
	border-radius: 360px; 
	border-style:solid;
    border-color: rgb(62, 47, 47);
    border-width: 1px;
    width: 180px;
    height: 40px;
}